/* Media Queries */

@media only screen and (max-width: 768px) and (orientation: portrait) {
    
    .myHeadShot {
        width: 50%;
    }

    .eachSection{
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 768px) {

    .Container {
        /* background: #363636; */
        background-image: none;
        margin-top: -3em;
    }
    
    main {
        width: 64em;
        max-width: calc(100% - 4em);
        margin: 0 auto;
    }
    
    .eachSection {
        display: flex;
        width: 100%;
    }

    .alignLeft {
        text-align: left;

    }

    .alignLeft::after {
        margin-left: 0;
        width: 4.5em
        
    }


    .headshotContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5%; 
        padding-top: 2em;
        padding-bottom: 2em;  
    }

    .horizontal {
        display: flex;
        justify-content: center;
    }

    .vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .myHeadShot {
        padding: 0;
        width: 100%;
    
    }

    .skillsImg {
        height: 20%;
        width: 20%;
        display: inline-block;
    }

    .skillsImg2 {
        height: 20%;
        width: 20%;
        display: block;
        margin: auto;
    }

    .skillsContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .skillsLi {
        width: 27%;
        display: inline-block;
        padding: 2%;
        margin: .5%;
    }

    .projectList {
        display: flex;
    }
    
    .pastProjectImg {
        display: inline-block;
        width: 31%;
        height: 100%;
        margin: 0 auto;
    }

    .githubHolder {
        display: flex;
    }

    .githubContainer {
        display: inline-block;
    }

    .githubTitle {
        margin-left: 0;
        width: 4em; 
    }

    .referenceLink {
        display: flex;
        align-items: center; /* horizontal */
        justify-content: center; /* vertical */
    }

    #contact {
        width: 100%;
    }

    .footerImg a img {
        width: 10%;
        height: 10%; 
        margin: 0 auto;
    }

}