img {
    float: left;
    margin: 20px;
}


.heading {
    padding: 30px;
    border-bottom: 3px solid rgb(201, 198, 198);
}

.container {
    width: 960px;
}

nav {
    border: green
}













footer {
    text-align: center;
    background: grey;
    padding: 20px;
    margin-top: 25px;
    border-top: 10px solid #4aaaa5;
}




