body {
  background: url(../images/images/concrete-texture.png);
  width: 100%
}
    

#footer {
/* 
position: fixed;
bottom: 0;
width: 100%; */
/* Set the fixed height of the footer here */
height: 60px;
line-height: 40px; /* Vertically center the text there */
background-color: #f5f5f5;
text-align: center;
}


img {
    float: left;
    width: 30%;
    display: inline-block;
}

.heading {
    padding: 25px;
    border-bottom: 3px solid rgb(201, 198, 198);
    color: #4aaaa5;
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.container {
    background: #ffffff;
    width: 70%;
    /* margin: auto; */
    margin-top: 30px;
    margin-bottom: 30px;
}

div.container-fluid {
    width: 70%;
}

.projectimg {
    height: 100px;
    width: 100px;
}


.navbar-brand {
    float: left;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 30px;  
    font-size: 30px; 
}

div.collapse {
    float: right;
    padding-left: 20%;
}

.nav-item {
    color: black;
    color: #777777;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    
}

p {
    font-size: 21px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.3;
    padding: 20px;
    
}


button.btn-primary {
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    margin-top: 30px;
}

.catPicture {
    padding: 20px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .col-12{width: 70%;   
    }
    .catPicture {
        width: 20%;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .col-12 {width: 70%;}
    .catPicture {
        width: 40%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .col-12 {width: 100%;}
    .catPicture {
        width: 60%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .col-12 {width: 100%;}
    .catPicture {
        width: 80%;
    }
    
}

/* Portrait phones and smaller */
[class*="col-"] {
    width: 100%;
    
}